name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: compila
      run:  gcc Imposto-de-renda-teste.c -o Imposto-de-renda-teste
    - name: executa
      run:  .\Imposto-de-renda-teste
    
